@import '../../styles/constants';
:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.docs-article-list {
  flex-grow: 1;
  margin: $content-padding-side;
  @media (max-width: $small-breakpoint-width) {
    margin: 0;
  }
}

.docs-article-item,
.docs-article-item:hover {
  text-decoration: none;
}

.docs-grid-title {
  margin: 1em;
}

.docs-tag {
  &:hover {
    cursor: pointer;
  }
}

.docs-card-subtitle {
  float:right;
  width: 100%;

  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.docs-card-subtitle-text{
  float:right;
  padding-right: 3em;
}

.docs-action-chips{
  padding-left: 1em;
  padding-right: 1em;
}

.row-layout {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0%;
}

.col-layout {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0%;
}

.div-row{
  max-width: 50%;
}

.div-col{
  max-width: 100%;
}

.result{
  height: 100%;
}