<div class="result" infinite-scroll
[infiniteScrollDistance]="scrollDistance"
[infiniteScrollUpDistance]="scrollUpDistance"
[infiniteScrollThrottle]="throttle"
(scrolled)="onScrollDown()">
<!-- (scrolledUp)="onUp()"> -->
<div class="docs-primary-header">
  <h1>Articles</h1>
</div>

<!-- <mat-grid-list>
  <mat-grid-tile > -->
<div class="main-content coloredContainerX box" ngClass="col-layout">
  <div *ngFor="let articleArray of articles">

    <div class="coloredContainerX box" ngClass="row-layout col-layout" [ngClass.xs]="{'row-layout':false, 'col-layout':true}"
      [ngClass.sm]="{'row-layout':false, 'col-layout':true}" [ngClass.md]="{'row-layout':true, 'col-layout':false}" [ngClass.lg]="{'row-layout':true, 'col-layout':false}"
      [ngClass.xl]="{'row-layout':true, 'col-layout':false}">

      <div *ngFor="let article of articleArray"fxflex 
      [ngClass.xs]="{'div-row':false, 'div-col':true}"
      [ngClass.sm]="{'div-row':false, 'div-col':true}" 
      [ngClass.md]="{'div-row':true, 'div-col':false}" 
      [ngClass.lg]="{'div-row':true, 'div-col':false}"
      [ngClass.xl]="{'div-row':true, 'div-col':false}">
        <div  >
        <mat-card class="docs-grid-title">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon>library_books</mat-icon>
            </div>
            <mat-card-title>
              <h3>{{article.name}}</h3>
            </mat-card-title>
            <mat-card-subtitle>
              {{article.date}}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{article.summary | shortsummary}}
              <br>
              <br>
              <a [routerLink]="['/article/item/', article.id]" class="docs-card-subtitle">
                <span class="docs-card-subtitle-text">Read More&nbsp;&nbsp;>></span>
              </a>
            </p>
          </mat-card-content>
          <mat-card-actions class="docs-action-chips">
            <mat-chip-list>
              <mat-chip *ngFor="let tag of article.tags" selected color="primary" class="docs-tag">
                {{tag}}
              </mat-chip>
            </mat-chip-list>
          </mat-card-actions>
        </mat-card>
      </div>
      </div>
    </div>
  </div>
  
</div>

</div>
<!-- </mat-grid-tile>
</mat-grid-list> -->
