<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="nav-bar-spacer"></span>
    <mat-icon class="nav-bar-icon">verified_user</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="nav-bar-spacer"></span>
    <mat-icon class="nav-bar-icon">favorite</mat-icon>
    <mat-icon class="nav-bar-icon">delete</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <app-theme-picker></app-theme-picker>
  </mat-toolbar-row>
</mat-toolbar>

