@import '../node_modules/@angular/material/theming';
@import './app/home-page/home-page-theme';
@import './styles/svg-theme';
@import './app/nav-bar/nav-bar-theme';
@import './app/article-list/article-list-theme';
@import './app/shared/table-of-contents/table-of-contents-theme';
@import './styles/markdown-theme';

// Styles for the docs app that are based on the current theme.
@mixin material-docs-app-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
  
    .docs-app-background {
      background: mat-color($background, background);
    }
  
    .docs-primary-header {
      background: mat-color($primary);
  
      h1 {
        color: mat-color($primary, default-contrast);
      }
    }
  
    .docs-footer {
      background: mat-color($primary);
      color: mat-color($primary, default-contrast);
    }
  
    @include nav-bar-theme($theme);
    @include home-page-theme($theme);
    @include docs-site-svg-theme($theme);
    @include article-list-theme($theme);
    @include table-of-contents-theme($theme);
    @include docs-site-markdown-theme($theme);
  }