@import '~@angular/material/theming';
@import './app-theme';
@import './styles/markdown';
@import './styles/tables';
@import './styles/general';


// Include material core styles.
@include mat-core();


// Define the light theme.
$primary: mat-palette($mat-lime,900);
$accent:  mat-palette($mat-red, 800, 700, 900);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-docs-app-theme($theme);