<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">JonathonFly's Site</h1>
      <h2> - Seeking a Colorful and Interesting Life.</h2>
    </div>
  </div>
</header>

<div class="docs-homepage-promo">
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <docs-svg-viewer
          src="../../assets/img/myself2-color-fill.svg"
          scaleToContainer="true"></docs-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Web</h2>
      <p>Angular, NodeJs, Typescript, ECMAScript, NativeScript, Webpack...</p>
    </div>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <docs-svg-viewer
          src="../../assets/img/myself3-color-fill.svg"
          scaleToContainer="true"></docs-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Java</h2>
      <p>SpringBoot, JVM, Multi Thread, High Concurrency...</p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <docs-svg-viewer
        src="../../assets/img/myself1-color-fill.svg"
        scaleToContainer="true"></docs-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Big Data</h2>
      <p>Hadoop, HDFS, Spark, HBase, Hive, Solr, ELK...</p>
    </div>
  </div>
</div>